/*
Name: 
Date: 
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
    --main-bg-colour: #000000;
    --sec-bg-colour: #FFFFFF;
    --main-colour: #FFFF8F;
    --sec-colour: #000000 ;
}

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "footer footer footer";
}

.container > div{ /*DO NOT REMOVE*/
    padding: 10px;
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    background-color:  #000000;
    color: var(--main-colour);
    font-family: 'Oswald', sans-serif;
}

.main{ /*DO NOT REMOVE*/
    grid-area: main;
    background-color:  #000000;
    color: var(--main-colour);
    padding: 20px;
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
    background-color: var(--main-colour);
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    background-color: var(--main-colour);
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
     color: #FFFFFF;   
    font-family: 'Oswald', sans-serif;
    background-color:  #000000;
  
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
     color: #FFFFFF;  
    font-family: 'Oswald', sans-serif;
      background-color:  #000000;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color: var(--main-bg-colour);
    color: var(--main-colour);
      font-family: 'Oswald', sans-serif;
}
